.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.960938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.930664;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.024000px;}
._1{margin-left:-1.012000px;}
._0{width:1.980000px;}
._4{width:3.564000px;}
._5{width:4.972000px;}
._6{width:8.932000px;}
._3{width:13.332000px;}
._7{width:26.136000px;}
.fc2{color:rgb(0,0,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.ya{bottom:-14.665000px;}
.y9{bottom:-0.174000px;}
.y7{bottom:2.954000px;}
.y5{bottom:15.970997px;}
.y0{bottom:27.000000px;}
.y4{bottom:29.769998px;}
.y6{bottom:35.450051px;}
.y8{bottom:38.578027px;}
.y3{bottom:44.416998px;}
.y2{bottom:62.814999px;}
.y29{bottom:81.328047px;}
.y28{bottom:96.702009px;}
.y27{bottom:112.076033px;}
.y26{bottom:127.450056px;}
.y25{bottom:214.031022px;}
.y24{bottom:243.123024px;}
.y23{bottom:257.669023px;}
.y22{bottom:272.215013px;}
.y21{bottom:286.761033px;}
.y20{bottom:301.307023px;}
.y1f{bottom:330.507032px;}
.y1e{bottom:345.794022px;}
.y1d{bottom:360.340019px;}
.y1c{bottom:374.886024px;}
.y1b{bottom:389.432022px;}
.y1a{bottom:403.978024px;}
.y19{bottom:418.524025px;}
.y18{bottom:433.070024px;}
.y17{bottom:462.162029px;}
.y16{bottom:476.708031px;}
.y15{bottom:491.254029px;}
.y14{bottom:520.346020px;}
.y13{bottom:534.892021px;}
.y12{bottom:549.438020px;}
.y11{bottom:575.984024px;}
.y10{bottom:590.530023px;}
.yf{bottom:617.076028px;}
.ye{bottom:643.622025px;}
.yd{bottom:670.168028px;}
.yc{bottom:684.714025px;}
.yb{bottom:711.260026px;}
.y1{bottom:721.578026px;}
.h7{height:10.299633px;}
.h5{height:13.428000px;}
.h6{height:29.326172px;}
.h9{height:32.033203px;}
.h8{height:32.076172px;}
.hb{height:33.000000px;}
.ha{height:33.429688px;}
.h4{height:34.945312px;}
.h3{height:46.593750px;}
.h2{height:77.821999px;}
.h1{height:793.000000px;}
.h0{height:841.900024px;}
.w2{width:72.294995px;}
.w1{width:512.000000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x0{left:42.000000px;}
.x9{left:63.000000px;}
.x6{left:72.000000px;}
.x4{left:159.697002px;}
.x2{left:185.093002px;}
.x3{left:233.056999px;}
.x5{left:308.083000px;}
.x7{left:445.249988px;}
.x8{left:497.032013px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.698667pt;}
._1{margin-left:-1.349333pt;}
._0{width:2.640000pt;}
._4{width:4.752000pt;}
._5{width:6.629333pt;}
._6{width:11.909333pt;}
._3{width:17.776000pt;}
._7{width:34.848000pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.ya{bottom:-19.553333pt;}
.y9{bottom:-0.231999pt;}
.y7{bottom:3.938667pt;}
.y5{bottom:21.294662pt;}
.y0{bottom:36.000000pt;}
.y4{bottom:39.693330pt;}
.y6{bottom:47.266735pt;}
.y8{bottom:51.437369pt;}
.y3{bottom:59.222664pt;}
.y2{bottom:83.753332pt;}
.y29{bottom:108.437396pt;}
.y28{bottom:128.936012pt;}
.y27{bottom:149.434710pt;}
.y26{bottom:169.933408pt;}
.y25{bottom:285.374696pt;}
.y24{bottom:324.164032pt;}
.y23{bottom:343.558697pt;}
.y22{bottom:362.953350pt;}
.y21{bottom:382.348044pt;}
.y20{bottom:401.742697pt;}
.y1f{bottom:440.676043pt;}
.y1e{bottom:461.058695pt;}
.y1d{bottom:480.453359pt;}
.y1c{bottom:499.848033pt;}
.y1b{bottom:519.242696pt;}
.y1a{bottom:538.637365pt;}
.y19{bottom:558.032033pt;}
.y18{bottom:577.426698pt;}
.y17{bottom:616.216039pt;}
.y16{bottom:635.610708pt;}
.y15{bottom:655.005372pt;}
.y14{bottom:693.794693pt;}
.y13{bottom:713.189362pt;}
.y12{bottom:732.584026pt;}
.y11{bottom:767.978699pt;}
.y10{bottom:787.373363pt;}
.yf{bottom:822.768037pt;}
.ye{bottom:858.162701pt;}
.yd{bottom:893.557370pt;}
.yc{bottom:912.952034pt;}
.yb{bottom:948.346701pt;}
.y1{bottom:962.104034pt;}
.h7{height:13.732844pt;}
.h5{height:17.904001pt;}
.h6{height:39.101562pt;}
.h9{height:42.710938pt;}
.h8{height:42.768229pt;}
.hb{height:44.000000pt;}
.ha{height:44.572917pt;}
.h4{height:46.593750pt;}
.h3{height:62.125000pt;}
.h2{height:103.762665pt;}
.h1{height:1057.333333pt;}
.h0{height:1122.533366pt;}
.w2{width:96.393326pt;}
.w1{width:682.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x0{left:56.000000pt;}
.x9{left:84.000000pt;}
.x6{left:96.000000pt;}
.x4{left:212.929337pt;}
.x2{left:246.790670pt;}
.x3{left:310.742666pt;}
.x5{left:410.777334pt;}
.x7{left:593.666651pt;}
.x8{left:662.709351pt;}
}
